/*
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff !important;
  }
  .layout{
    float: right;
    font-weight: bolder;
    width: 400px;
  }
  .logo {
    float: left;
    width: 34px;
    height: 31px;;
    margin: 16px 0px 16px 0;
    display: flex;
    background-color: #ee8c68;
background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
    background-repeat: no-repeat;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .ant-layout-header {
    height: 64px;
    padding: 0px 25px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: #001529;
  }
  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    top: 0;
    margin-top: 0;
    padding: 0 10px;
    border-color: #001529;
    border-bottom: 0;
  }
  @media (max-width: 768px){
    .layout{
      float: none;
    }
    .layout{
      width: auto;
    }
  }*/
  .layout{
    padding: 1rem;
    font-weight: bolder;
    display: flex;
    flex-flow: column;
  }

  .navbar {
    display: flex;
  }
  .ant-layout {
    background-color: White !important;
  }
  .App {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }
  
  .content {
    padding: 1rem;
  }
  .iconNav{
    margin-right: 15px;
  }
  .Link{
    margin-top: 20px;
  }
  .Link:active{
    color: #eb6b9d;
  }
  .lLogo{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar {
    background-color: transparent;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (min-width: 992px) {
    .menu {
      display: none;
    }
  }
 

  @media (min-width: 768px) {
    .navbar{
      display: none;
    }
  }