.zm-bg-img {
  /* The image used */
  background: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');

  min-height: 442px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.zm-card-sm {
  display: none;
}
.zm-high-res-image {
  height: 18%;
  width: 15%;
  object-fit: contain;
  transform: none;
  opacity: 1;
  transition: all 1.4s ease 0s;
}
.zm-top {
  margin-top: 80px;
}
.zm-justify-center {
  display: flex;
  justify-content: center;
}
.zm-description {
  margin-top: 2rem;
  color: white;
  text-align: center;
}

.next-line {
  font-size: 36px;
  line-height: 48px;
}

.zm-drp-down {
  border: none !important;
  padding-right: 146px;
}
.zm-mt-5 {
  margin-top: 10px;
}
.zm-card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  border: 1px solid rgb(232, 232, 232);
  padding: 0.5rem;
}

.zm-input-borderless {
  border: none !important;
}
.zm-icon {
  align-self: center;
}
.zm-large {
  margin-top: 15px;
}
.zm-card-food {
  width: 342px;
  margin-top: 24px;
  border-radius: 20px;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  width: 100%;
  transition: transform 0.2s;
}
.zm-card-food:hover {
  transform: scale(1.03);
}
.zm-img-card {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  width: 100%;
  height: 11vw;
  object-fit: cover !important;
}
.ant-card-bordered .ant-card-cover {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.VKsUl {
  padding: 0.5rem 1rem 1rem;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: white;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 0px 0px 1.2rem 1.2rem;
  box-sizing: border-box;
}
@media (width: 411px) {
  .zm-crd-2 {
    height: 246px !important;
    width: 177px !important;
  }
}
@media (max-width: 480px) {
  .gJKavv {
    padding: 0px 10px 20px 0px !important;
    max-width: 50% !important;
  }
  .zm-crd-2 {
    height: 234px !important;
    width: 155px !important;
  }
  .zm-card-food {
    height: max-content;
    width: 172px !important;
  }
  .zm-img-card {
    height: 36vw !important;
  }
  .ant-card-meta-title {
    font-size: 14px !important;
  }
}

.ant-card-meta-description {
  color: rgb(79, 79, 79);
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0px;
}
.zm-mtop {
  margin-top: 50px;
}
.zm-Collections {
  font-size: 32px;
  font-weight: initial;
}
.zm-p-collection {
  font-size: 16px;
  color: rgb(79, 79, 79);
}
.zm-card-bgimg1 {
  background: linear-gradient(to bottom, transparent, rgba(49, 46, 49, 0.73)),
    url('https://b.zmtcdn.com/data/collections/daf0f4765d084892ed0378eade2d106f_1595820022.jpg?output-format=webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.zm-card-bgimg2 {
  background: linear-gradient(to bottom, transparent, rgba(49, 46, 49, 0.73)),
    url('https://b.zmtcdn.com/data/collections/be6543a9fbd2c6a8b6db0ad0e4972f58_1537267039.jpg?output-format=webp');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}
.zm-card-bgimg3 {
  background: linear-gradient(to bottom, transparent, rgba(49, 46, 49, 0.73)),
    url('https://b.zmtcdn.com/data/collections/d7e3f1d03609fdd6672872662fa5bcf7_1637735117.png?output-format=webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.zm-card-bgimg4 {
  background: linear-gradient(to bottom, transparent, rgba(49, 46, 49, 0.73)),
    url('https://b.zmtcdn.com/data/collections/90999c2395ba9c9c40998607c8dd5af1_1581058174.jpg?output-format=webp');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}

.zm-text-White {
  color: white;
}
.zm-bold {
  font-size: large;
  font-weight: bold;
}
.zm-meta {
  position: absolute;
  bottom: 10px;
}
.zm-span {
  color: #ff7e8b;
  float: right;
  cursor: pointer;
}
.zm-right-span {
  display: none;
  color: #ff7e8b;
  cursor: pointer;
}
.ant-card-body {
  padding: 16px;
}
.zm-flex-row-card {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 15px;
}
.zm-popular-place-card {
  margin: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  width: 31%;
}
.zm-bg-pink {
  background-color: rgb(255, 251, 247);
  padding-top: 20px;
  padding-bottom: 20px;
}
.zm-zomato-app-img {
  height: 25vw;
}
.zm-h2 {
  font-size: 48px;
  margin-top: 25px;
}
.zm-p {
  font-size: 20px;
}
.zm-radioGroup {
  margin-top: 20px;
  font-size: larger !important;
}
.ant-radio-wrapper {
  font-size: 24px !important;
}
.ant-radio-checked::after {
  border: 1px solid rgb(239, 79, 95) !important;
}
.ant-radio-checked .ant-radio-inner {
  border-color: rgb(239, 79, 95) !important;
}
.ant-radio-inner::after {
  background-color: rgb(239, 79, 95) !important;
}
.ant-input:placeholder-shown {
  text-overflow: ellipsis;
  padding: 10px;
  border-radius: 10px;
  color: #979696;
}

.ant-btn-dangerous.ant-btn-primary {
  border-radius: 10px !important;
  margin-left: 10px !important;
}
.zm-store {
  width: 8vw;
  margin-top: 20px;
  cursor: pointer;
}
.zm-plasy {
  margin-left: 20px;
}
.zm-float-right {
  display: flex;
  justify-content: end;
  color: white;
  font-size: 1.2rem;
}
.zm-spacing {
  font-size: 14px;
  padding-top: 15px;
  padding: 0.8rem !important;
  font-weight: 500;
  cursor: pointer;
}
.zm-hide{
  display: flex;
}
.zm-flex {
  display: flex;
  justify-content: space-between;
}
.zm-flex-header {
  display: flex;
  justify-content: space-between;
}
.zm-space-left {
  margin-left: 20px;
  cursor: pointer;
  padding: 0.8rem !important;
}
.zm-extras {
  font-size: 20px;
  margin-left: 20px;
  align-self: center;
}
.pd-5 {
  padding: 5px;
}
.mt-5 {
  margin-top: 10px;
}
.zm-h2-cusin {
  font-size: 28px;
  font-weight: normal;
}
.row {
  display: flex;
}
.zm-list-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  color: rgb(130, 130, 130) !important;
  font-size: 15px;
}

.zm-row-wrap {
  display: inline-block;
  width: 100%;
}
.zm-row-link {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  color: rgb(130, 130, 130);
  margin-bottom: 1.2rem;
  width: 20%;
  font-size: 14px;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
.zm-Borderless {
  border: none;
  margin: 0px;
  color: rgb(130, 130, 130) !important;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  margin-bottom: 1.2rem;
  width: 20%;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
.zm-row-wrap-2 {
  display: inline-block;
  width: 100%;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 46px;
  padding: 8px 11px;
}
.ant-input-group.ant-input-group-compact > *:last-child,
.ant-input-group.ant-input-group-compact > .ant-select:last-child > .ant-select-selector,
.ant-input-group.ant-input-group-compact > .ant-cascader-picker:last-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-cascader-picker-focused:last-child .ant-input {
  border-right-width: 1px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.zm-flex-card-2 {
  display: flex;
}
.ant-input:placeholder-shown {
  text-overflow: ellipsis;
  padding: 11px !important;
}
.zm-ico-btn {
  font-size: 22px !important;
}
.ant-modal-title {
  font-size: 28px;
}
.zm-modal-lastLine {
  font-size: 18px;
  margin-top: 10px;
}
.cgPoVf {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.oQgkb {
  font-size: 14px;
  line-height: 1.2;
  color: rgb(28, 28, 28);
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: start;
  height: 100%;
  width: max-content;
}
.iPRmnw {
  appearance: none;
  cursor: pointer;
  outline: 0px;
  border-radius: 4px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(156, 156, 156);
  box-sizing: border-box;
  position: relative;
  transition: all 0.4s ease 0s;
  margin-top: 8px;
}
.cztJtd {
  font-size: 15px;
  color: rgb(105, 105, 105);
}
.ixyEII {
  text-decoration: none;
  font-weight: 500;
  color: rgb(239, 79, 95) !important;
  margin-left: 2px;
  margin-right: 2px;
}
.ant-input-group.ant-input-group-compact > *:first-child,
.ant-input-group.ant-input-group-compact > .ant-select:first-child > .ant-select-selector,
.ant-input-group.ant-input-group-compact > .ant-select-auto-complete:first-child .ant-input,
.ant-input-group.ant-input-group-compact > .ant-cascader-picker:first-child .ant-input {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.zm-a {
  text-decoration: underline;
  color: black !important;
}
a {
  color: black !important;
}
.gJKavv {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 33.3333%;
  padding: 0px 13.3333px 20px 0px;
}

.zm-modal-buton-otp {
  margin-top: 10px;
  background-color: rgb(206, 206, 206);
  width: 100%;
  color: white;
  border-radius: 10px;
}
.zm-ico-btn {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}
.zm-link-new {
  color: #ff7e8b !important;
}
.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgb(232, 232, 232);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
.block {
  margin: 0;
  max-width: 900px;
  display: flex;
}
.search-ico {
  align-self: center;
  margin-left: 10px;
  color: rgb(130, 130, 130);
}
.zm-gray-ico {
  color: rgb(79, 79, 79) !important;
}
.ant-card-meta-title {
  font-size: 20px;
  overflow: none;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  white-space: normal;
  text-overflow: none;
}
.ant-btn {
  font-size: 14px;
  color: rgb(130, 130, 130) !important ;
}
.input-res {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box;
}
.zm-card-bg {
  height: 320px;
  width: 244px;
}
.zm-row-wrap a {
  color: #828282 !important;
}
.zm-li-space a {
  color: #828282 !important;
}
.gaXrck {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: rgb(145, 144, 144);
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 0.35rem;
  margin-top: 14px;
}
.zm-li-space {
  text-decoration: none;
  color: rgb(130, 130, 130);
  font-size: 14px;
  line-height: 1.8;
  margin-right: 1rem;

  letter-spacing: 1px;
}
.zm-Collections-adi {
  display: none;
}



.zm-popular {
  text-align: center;
  font-weight: 100;
}

.zm-flex-card-3 {
  display: flex;
  justify-content: space-between;
}
@media (width: 767px) {
  .zm-popular-place-card {
    margin: 8px;
    border-radius: 10px;
    font-size: 14px;
    background: white;
    border: 1px solid #e8e8e8;
  }
  .zm-zomato-app-img {
    height: 51vw;
    width: 28vw;
  }
}
.zm-button {
  color: #fff !important;
  align-self: center;
}
.zm-flex-getapp {
  display: flex;
}

@media (width: 1920px) {
  .zm-img-card {
    height: 10vw;
  }
  .zm-popular {
    text-align: center;
    font-weight: 100;
  }
  .zm-card-bg {
    height: 320px;
    width: 273px;
  }
  .gJKavv {
    padding: 18px 13.3333px 20px 0px;
  }

  .zm-Collections {
    font-size: 38px;
  }
  .zm-Collections {
    display: block;
  }
  .zm-store {
    width: 8vw;
  }

  .zm-zomato-app-img {
    height: 26vw;
  }
  .zm-li-space {
    font-size: 16px;
  }
  .zm-row-link {
    font-size: 16px;
  }
  .logo {
    width: 8vw;
  }
}
@media (max-width: 1600px) and (min-width: 1192px) {
  .zm-card-bg {
    height: 320px;
    width: 277px;
  }
  .zm-card-food {
    width: 50vw;
  }
  .zm-high-res-image {
    height: 24%;
    width: 24%;
  }
  .zm-card {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .search-ico {
    font-size: 20px;
  }

  .zm-img-card {
    height: 17vw;
  }
  .zm-card-bg {
    height: 320px;
    width: 264px;
  }
  .zm-Collections {
    font-size: 38px;
  }
  .zm-h2 {
    font-size: 40px !important;
    font-weight: 400;
  }
  .zm-p {
    font-size: 16px;
    color: rgb(110, 110, 110);
    line-height: 2rem;
  }
  .zm-zomato-app-img {
    height: 38vw;
    margin-right: 34px;
  }
  .ant-radio-wrapper {
    font-size: 18px !important;
    color: rgb(85, 84, 84);
  }

  .zm-button {
    font-size: 14px;
    color: #fff !important;
    align-self: center;
    background: border-box rgb(239, 79, 95) !important;
    border-color: rgb(239, 79, 95) !important;
  }
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    padding: 14px;
  }
  .zm-store {
    width: 12vw;
  }

  .zm-bg-img {
    min-height: 496px;
  }
  .zm-high-res-image {
    height: 18%;
    width: 18%;
  }
  .zm-card-bg {
    height: 320px;
    width: 228px;
  }
  .zm-img-card {
    height: 14vw;
  }
  .gJKavv {
    padding: 8px 13.3333px 20px 0px;
  }
  .zm-store {
    width: 8vw;
  }
  .zm-zomato-app-img {
    height: 30vw;
  }

  .zm-img-card {
    height: 18vw;
  }

  .zm-h2 {
    font-size: 37px;
    margin-top: 65px;
  }
  .zm-p {
    font-size: 16px;
  }
  .zm-radioGroup {
    margin-top: 27px;
  }
  .mt-5 {
    margin-top: 24px;
  }
  .zm-store {
    width: 14vw;
  }
}
@media (max-width: 1191px) and (min-width: 768px) {
  .zm-high-res-image {
    width: 42%;
  }
  .zm-card-food {
    width: 148px;
  }
  .zm-zomato-app-img {
    height: 35vw;
    width: 32vw;
  }
  .zm-h2 {
    font-size: 26px !important;
  }
  .zm-p {
    font-size: 16px;
  }
  .ant-radio-wrapper {
    font-size: 16px !important;
  }
  .ant-input:placeholder-shown {
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 10px;
  }
  .zm-store {
    width: 12vw;
    margin-top: 2px;
  }
  .ant-btn-lg {
    height: 30px;
    padding: 6.4px 15px;
    font-size: 12px;
    border-radius: 2px;
  }

  .next-line {
    font-size: 24px !important;
    line-height: 48px;
  }

  .next-line {
    font-size: 37px !important;
  }
  .zm-bg-img {
    min-height: 588px;
  }
  .zm-card-food {
    width: 100%;
  }
  .zm-img-card {
    width: 100%;
    height: 30vw;
  }
  .zm-card-bg {
    height: 320px !important;
    width: 227px !important;
  }
  .zm-popular-place-card {
    width: 46%;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
  .zm-zomato-app-img {
    height: 44vw;
  }
}
@media (width: 1600px) {
  .ant-col-xxl-offset-5 {
    margin-left: 14.833333% !important;
  }
  .ant-col-xxl-14 {
    display: block;
    flex: 0 0 71.333333%;
    max-width: 71.333333%;
  }
  .zm-card-bg {
    height: 320px;
    width: 280px;
  }
  .zm-p-collection {
    font-size: 19px;
  }
}
@media (width: 1280px) {
  .ant-col-lg-22 {
    display: block;
    flex: 0 0 87.666667%;
    max-width: 87.666667%;
  }
  .ant-col-lg-offset-1 {
    margin-left: 5.166667%;
  }
  .zm-bg-img {
    min-height: 486px;
  }
  .zm-img-card {
    height: 14vw;
  }
}
@media (width: 1440px) {
  .ant-col-lg-offset-1 {
    margin-left: 10.166667%;
  }
  .ant-col-lg-22 {
    display: block;
    flex: 0 0 80.666667%;
    max-width: 77.666667%;
  }
  .zm-bg-img {
    min-height: 486px;
  }
  .zm-img-card {
    height: 14vw;
  }
  .zm-card-bg {
    height: 320px;
    width: 275px;
  }
}
@media (width:320px){
  .zm-crd-2 {
    height: 198px !important;
    width: 136px !important;
}
.zm-bold {
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .zm-hide {
    display: none !important;
  }
  .ant-modal {
    max-width: fit-content;
  }
  .ant-modal-body{
    height: 314vw;
  }
  .ant-modal-wrap {
    overflow: hidden;
  }
  .input-res {
    font-size: 14px;
  }
  .zm-h2 {
    font-size: 34px !important;
    margin-top: 18px;
  }
  .zm-p {
    font-size: 13px !important;
    color: #828282;
  }
  
  .search-ico {
    align-self: center;
    margin-left: 0px;
    color: #8d8c8c;
    font-size: 24px;
  }
  .gaXrck {
    margin-right: 10px;
    margin-top: 10px;
  }

  .zm-space-left {
    margin-left: 0px;
  }
  .zm-icon {
    font-size: 24px;
  }
  .zm-bg-img {
    min-height: 468px;
  }
  .zm-high-res-image {
    width: 40%;
  }
  .next-line {
    font-size: 29px;
    line-height: 48px;
    margin-left: 18px;
  }
  .zm-card-sm {
    display: flex;
    justify-content: space-between !important;
  }
  .ant-btn {
    font-size: 18px;
  }
  .zm-sm-hidden {
    display: none;
  }

  .zm-flex {
    display: flex;
    justify-content: center;
  }
  .zm-flex-header{
    display: flex;
    
  }
  .zm-span {
    display: none;
  }
  .zm-right-span {
    display: block;
    color: #ff7e8b;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }

  .zm-crd-2 {
    height: 234px !important;
    width: 155px !important;
  }
  .zm-extras {
    display: none;
  }
  .pd-5 {
    padding: 15px;
  }
  .zm-card {
    justify-content: center;
  }
  .row {
    display: flex;
    justify-content: center !important;
  }
  .zm-Collections {
    display: flex;
    flex-flow: column;
    font-size: 26px;
  }
  .zm-Collections-adi {
    display: block;
    text-align: justify;
    font-size: 28px !important;
  }
  .zm-p-collection {
    font-size: 15px;
  }
  .zm-zomato-app-img {
    display: none;
  }
  .zm-li-space {
    letter-spacing: normal;
    margin-right: 10px;
    color: rgb(130, 130, 130);
    font-size: 10px;
  }
  .zm-h2 {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
  }
  .zm-flex-card-3 {
    display: flex;
    flex-flow: row !important;
    flex-wrap: wrap !important;

    justify-content: start !important;
  }
  .zm-p {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
  }
  .zm-radioGroup {
    margin-left: 30px;
    margin-right: 15px;
  }
  .ant-input {
    width: 84%;
  }
  .ant-btn-dangerous.ant-btn-primary {
    border-radius: 10px !important;
    margin-right: 33px;
    height: 44px !important;
  }
  .zm-app {
    margin: 20px;
    font-size: 20px;
    text-align: center;
  }

  .zm-store {
    width: 35vw !important;
  }
  .zm-h2-cusin {
    font-size: 20px;
  }
  .zm-list-row {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .zm-row-wrap {
    display: flex;
    flex-flow: wrap;
  }

  .zm-flex-card-2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .zm-float-right {
    float: none;
    display: flex;
    flex-flow: row !important;
  }
  .zm-popular-place-card {
    padding-left: 0px;
    padding-right: 0px;
  }
  .zm-popular-place-card {
    margin: 4px;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .next-line {
    font-size: 34px;
    line-height: 48px;
  }
}
@media (max-width: 575px) {
  .zm-mobile-res{
    display: flex !important;
    margin-top: 10px;
  }
  .ant-modal {
    max-width: fit-content;
  }
  .ant-modal-body{
    height: 314vw;
  }
  .ant-modal-wrap {
    overflow: hidden;
  }
  .zm-spacing {
    font-size: 16px;
  }
  .zm-popular {
    text-align: justify; 
    font-weight: 100;
}
  .zm-hide {
    display: none !important;
  }
  .input-res {
    font-size: 14px;
  }
  .zm-h2 {
    font-size: 34px !important;
    margin-top: 18px;
  }
  .zm-p {
    font-size: 13px !important;
    color: #828282;
  }
  .search-ico {
    align-self: center;
    margin-left: 0px;
    color: #8d8c8c;
    font-size: 24px;
  }
  .gaXrck {
    margin-right: 10px;
    margin-top: 10px;
  }

  .zm-space-left {
    margin-left: 0px;
  }
  .zm-icon {
    font-size: 24px;
  }
  .zm-bg-img {
    min-height: 468px;
  }
  .zm-high-res-image {
    width: 54%;
  }
  .next-line {
    font-size: 29px;
    line-height: 48px;
    margin-left: 18px;
  }
  .zm-card-sm {
    display: flex;
    justify-content: space-between !important;
  }
  .ant-btn {
    font-size: 18px;
  }
  .zm-sm-hidden {
    display: none;
  }

  .zm-flex {
    display: flex;
    justify-content: center;
  }
  .zm-span {
    display: none;
  }
  .zm-right-span {
    display: block;
    color: #ff7e8b;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }

  .zm-crd-2 {
    height: 234px ;
    width: 155px;
  }
  .zm-extras {
    display: none;
  }
  .pd-5 {
    padding: 15px;
  }
  .zm-card {
    justify-content: center;
  }
  .row {
    display: flex;
    justify-content: center !important;
  }
  .zm-Collections {
    display: flex;
    flex-flow: column;
    font-size: 26px;
  }
  .zm-Collections-adi {
    display: block;
    text-align: justify;
    font-size: 28px !important;
  }
  .zm-p-collection {
    font-size: 15px;
  }
  .zm-zomato-app-img {
    display: none;
  }
  .zm-li-space {
    letter-spacing: normal;
    margin-right: 10px;
    color: rgb(130, 130, 130);
    font-size: 10px;
  }
  .zm-h2 {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
  }
  .zm-flex-card-3 {
    display: flex;
    flex-flow: row !important;
    flex-wrap: wrap !important;

    justify-content: start !important;
  }
  .zm-p {
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
  }
  .zm-radioGroup {
    margin-left: 30px;
    margin-right: 15px;
  }
  .ant-input {
    width: 58% !important;
  }
  .ant-btn-dangerous.ant-btn-primary {
    border-radius: 10px !important;
    margin-right: 33px;
    height: 44px !important;
  }
  .zm-app {
    margin: 20px;
    font-size: 20px;
    text-align: center;
  }

  .zm-store {
    width: 35vw !important;
  }
  .zm-h2-cusin {
    font-size: 20px;
  }
  .zm-list-row {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .zm-row-wrap {
    display: flex;
    flex-flow: wrap;
  }

  .zm-flex-card-2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .zm-float-right {
    float: none;
    display: flex;
    flex-flow: row !important;
  }
  .zm-popular-place-card {
    padding-left: 0px;
    padding-right: 0px;
  }
  .zm-popular-place-card {
    margin: 4px;
    padding-left: 1px;
    padding-right: 1px;
    width: 100%;
    font-size: 16px;
  }
 
  .next-line {
    font-size: 22px !important;
    margin-left: 0px;
    line-height: 28px !important;
  }
  .zm-Collections {
    display: block;
    text-align: justify;
    font-size: 24px !important;
  }
  .ant-card-meta-description {
    color: #4f4f4f;
    font-size: 14px;
  }
  .zm-icon {
    font-size: 20px;
  }
  .ant-btn {
    font-size: 14px;
  }
  .zm-card {
    padding: 0.5rem;
  }
  .zm-app {
    margin: 20px;
    font-size: 16px;
    text-align: center;
    color: rgb(156, 156, 156);
  }
  .zm-h2 {
    font-size: 28px;
  }
  .zm-row-link {
    width: 50%;
    margin-bottom: 1.8rem;
    margin-bottom: 12px;
  }
  .zm-row-wrap {
    display: inline-block !important;
  }
  .zm-Borderless {
    width: 50%;
    font-size: 1rem;
    line-height: 0.8;
    margin-bottom: 1.8rem;
  }
}

/* header icon */
.bDThzX {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  flex: 1 1 30%;
  -webkit-box-align: center;
  align-items: center;
}

.jfJuWd {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.iZyaHB {
  height: 2rem;
  width: 2rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 50%;
}

.iFnyeo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: inherit;
}

.iwHbVQ {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 18px;
  height: 18px;
}
.zm-mobile-res{
  display: none;
}