.zm-bg-footer{
    background: rgb(248, 248, 248);
    padding-top: 50px;
    padding-bottom: 50px;
}
.zm-india{
    width: 2vw;
    margin-right: 10px;
}
.zm-float-right{
    float: right;
}
.zm-top-footer{
    margin-top: 50px;
}
.zm-dropdown{
    margin-right: 10px;
}
.zm-h6{
letter-spacing: 0.2rem;
font-weight: 600;
}
.zm-footer-div{
    line-height: 2rem;
    color: rgb(117, 117, 117) !important;
}
.zm-flex-footer-icon{
    font-size: 20px;
}
.ant-btn {
    border-radius: 8px;
    height: 44px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: transparent;
    box-shadow: transparent;
}
.zm-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.zm-footer-endline{
    color:rgb(105, 105, 105) ;
    line-height: 1rem;
    font-weight: lighter;
}
.logo{
    width: 8vw;
}
.zm-links-hide{
    display: none;
}
@media (max-width:767px){
.zm-text-center{
    text-align: center;
}
.zm-links-hide{
    display:flex;
    flex-flow: column;
}
.zm-store-link-flex{
    display: flex;
    justify-content: space-around;
}
.zm-store-flex{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 25vw;
}
.zm-store-hide{
    display: none;
}
.zm-row{
    display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.zm-img-center{
    display: flex;
    justify-content: center;
}
.zm-flex-footer{
    display: flex;
    flex-flow: column ;
}
.zm-india {
    width: 4vw;
}
.zm-store {
    width: 24vw !important;
    display: flex;
}
.zm-h6 {
    text-align: justify;
}
.zm-footer-div{
    text-align: justify;
}
.zm-flex-footer-icon {
    text-align: center;
}

.zm-footer-endline{
    margin-right: 10px;
    margin-left: 10px;
    color:rgb(105, 105, 105) ;
    text-align: center;
}
.zm-float-right-ft {
     float: none;
     display: flex;
     flex-flow: column !important; 
     margin-top: 10px;
}
.zm-store {
    width: 40vw !important;
    display: flex;
}
.zm-social-link-margin{
    margin-top: 10px;
}

.zm-flex-footer-icon {
    font-size: 24px;
}
}
.zm-float-right-ft{
    display: flex;
    float: right;
  }
  @media (min-width:1200px){
    .logo {
        width: 12vw;
    }
    .zm-space{
        display: flex;
        flex-flow: column;
    }
    .zm-store {
        width: 10vw;
    }
  }
  .zm-footer-endline {
    color: #807d7d;
    line-height: 1.2rem;
    font-weight: lighter;
    margin-top: 10px;
}
@media (max-width: 480px){
    .zm-float-right-ft{
    display: flex;
    flex-flow: row !important;
    }

}
@media (width:768px){
    .zm-space{
        display: flex;
        flex-flow: column;
    }
}