
.zm-text-black{
    color: black;
}
.zm-headerLogo{
    width: 6vw;
}
.ant-card-body {
    padding: 10px !important;
}
.zm-text-grey{
    color:rgb(105, 105, 105);
}
.zm-bredcrum{
    margin-top: 15px;
}
.zm-bredcrum-link{
    color: rgb(105, 105, 105) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
     color: rgb(239, 79, 95);
}
.zm-tab-bg{
    background-color: wheat;
    padding: 10px;
    border-radius: 50%;
    display: flex;
}
.zm-tab-icon{
    width: 2vw;
}
.zm-div-tab{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
}
.zm-tab-bg-light{
    background-color: rgb(229, 243, 243);
    padding: 10px;
    border-radius: 50%;
    display: flex;
}
.zm-tab-hide{
    margin-top: 20px;
}
.zm-card-Link{
    border: 1px solid rgb(207, 207, 207) !important;
    color: rgb(156, 156, 156)  !important;
    border-radius: 10px;
    margin-left: 10px;
}
.zm-bg-firstorder{
    padding: 1rem 0px;
    background: rgb(248, 248, 248);
}
.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    padding-left: 21%;
}
.zm-width-25{
    margin-left: 25%;
}
.zm-mt-5{
    margin-top: 15px;
}
.zm-mt-10{
    margin-top: 35px;
    margin-bottom: 10px;
}
.zm-comapny-img{
    height: 138px;
    border-radius: 0.8rem !important;
}
.zm-comapany-card{
    border: none;
    margin-right: 20px;
}
.ant-card-body{
    padding: 10px !important;
    
}
.zm-spacing-delivery{
        font-size: 14px;
        padding-top: 15px;
        font-weight: 500;
        cursor: pointer;
    
}
.zm-card-comapny-title{
    text-align: center;
    margin-top: 10px;
    color: rgb(44, 43, 43) !important;
    font-size: 14px;
}
.zm-deliver-card{
    max-width: 332px;
    border: none;
    border-radius: 20px !important;
    margin-right: 20px;
    margin-top: 20px;
}
.zm-inline-line{
    display: flex;
}
.ant-card-meta-title {
    font-size: 22px;
}
.zm-company-card-img{
    border-radius: 0.8rem !important;
}
.zm-head{
    color: rgb(28, 28, 28);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 0px 0px 1rem;
}
.zm-firstorder-card{
    background-color: rgb(248, 248, 248) !important;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}
.zm-firstorder-img{
    border-radius: 0.8rem !important;
   
}
.zm-bg-shadow{
    height: 179px;
    width: 257px;
    box-shadow: rgb(0 0 0 / 8%) 0px 3px 12px !important;
    background-color: rgb(248, 248, 248) !important;
    border-radius: 0.8rem;
    object-fit: cover;
}
.iGVEEq {
    border-radius: 0.8rem;
    flex-shrink: 0;
    cursor: pointer;
    height: 19rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 3px 12px;
}
.zm-card-title{
   color: rgb(54, 54, 54) !important;
    font-size: 2rem !important;
    line-height: 3.2rem !important;
    font-weight: 500 !important;
    text-align: left;
    margin: 0.6rem 0px 0px !important;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .DeliveryCards{
      border-radius: 20px !important;
      height: 14vw;
      object-fit: cover;
  }
  .zm-title-delivery-card{
      font-weight: 500;
      font-size: 18px;
      color: black;
  }
@media(max-width:767px){
    .zm-bredcrum{
        display: none;
       /// background-color: #cf3266;
    }
}

.eJIdVX{
    position: absolute;
    bottom: 2.2rem;
    max-width: calc(100% - 2.4rem);
}
.XBKPH {
    margin-left: -10px !important;
    margin: 0px 0px 1rem;
    font-size: 0.9rem;
    padding-left: 0.6rem;
    padding-right: 1rem;
    background: rgb(217, 38, 98);
    color: rgb(255, 255, 255);
    font-weight: 400;
    width: max-content;
    border-radius: 0px 0.2rem 0.2rem 0px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kkLFwM {
    margin-left: -10px !important;
    margin: 0px 0px 1rem;
    font-size: 0.9rem;
    padding: 0px 0.6rem;
    background: rgb(37, 111, 239);
    color: rgb(255, 255, 255);
    font-weight: 400;
    width: max-content;
    border-radius: 0px 0.2rem 0.2rem 0px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kkLFwM:last-child {
    margin-bottom: 0px;
}
.caZqem {
    margin: 0px;
    position: absolute;
    bottom: 2.2rem;
    right: 1.2rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.4rem);
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 0.7rem;
    color: rgb(54, 54, 54);
    width: max-content;
    padding: 0.2rem 0.5rem 0.3rem;
}
.bOuhOw {
    position: absolute;
    top: 1rem;
    left: 1.1rem;
    width: max-content;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.4rem);
    border-radius: 0.2rem;
    padding: 0px 0.5rem;
    z-index: 1;
}
.dZUjKA {
    font-weight: normal;
    font-size: 0.6rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: right;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 100%; 
    line-height: 160px;
    background: transparent;
    overflow: hidden;
}
.fyZwWD {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.gJgFjE {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(38, 126, 62);
    color: rgb(255, 255, 255);
    height: 1.4rem;
    min-width: 2rem;
    padding: 0px 0.4rem;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    border: 1px solid rgb(38, 126, 62);
}
.kHxpSk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    cursor: unset;
}
.cILgox {
    margin-right: 0.2rem;
    font-weight: 600;
    font-size: inherit;
    padding-bottom: 0.1rem;
}
.iFnyeo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}
.fauQLv {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.zm-inline-line{
    display: flex;
    justify-content: space-between;
}
.ffqcCI {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    max-width: 56%;
    padding: 0px 0px 0.4rem;
}
.crfqyB {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    max-width: 30%;
    padding: 0px 0px 0.4rem;
}
.hr-card {
    height: 0.1rem;
    background-color: rgb(232, 232, 232);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.zm-card-bottom {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgb(248, 248, 248);
}


.cRfGoS {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    height: 3rem;
}
.bKrECZ {
    flex-shrink: 0;
    height: 1.8rem;
}
.cVOEqG {
    width: 100%;
    position: absolute;
     top: 0px; 
    left: 0px;
    height: 100%;
    background: linear-gradient(to right, rgb(248, 248, 248) 0%, rgb(255, 255, 255) 10%, rgb(248, 248, 248) 40%, rgb(248, 248, 248) 100%) no-repeat rgb(248, 248, 248);
    opacity: 0;
    transition: opacity 0.25s ease-out 0s;
    will-change: opacity;
    border-radius: inherit;
    animation: 1.5s linear 0s infinite normal forwards running jCOzbu;
}

.ldPQCx {
    position: relative;
    max-width: 100%;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
}
.iZDmqQ {
    margin: 0px 0px 0px 10px;
    text-align: left;
    color: #828282;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.bKrECZ {
    flex-shrink: 0;
    height: 1.5rem;
}
.gzrZiI {
    position: relative;
    max-width: 100%;
    width: 4.8rem;
    height: 1.8rem;
    overflow: hidden;
}
.fyZwWD {
        width: 72%;
        height: 83%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.zm-backtoTop{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(239, 79, 95);
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ecuyec {
    font-size: 12px;
    background: rgb(226, 55, 68);
    border-radius: 25px;
    box-shadow: rgb(28 28 28 / 8%) 0px 1px 8px;
    padding-top: 5px;
    margin-right: 5px;
    color: #ffffff;
    padding-right: 8px;
    padding-left:8px;
}
.zm-show-mobile {
        display: none;
}
.zm-auto-scroll{
    display: flex;
}
.zm-ins-show{
    display: none;
}
@media screen and (max-width: 576px) and (min-width:767px) {
    .zm-headerLogo {
        width: 29vw;
    }
    .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
        position: relative;
        display: flex;
        flex: none;
        align-items: center;
        padding-left: 2%;
        align-items: baseline;
    }
    .zm-resp-shadow{
        
        box-shadow:  0px 8px 6px -6px rgba(0, 0, 0, 0.05);
    }
    .kSmeAp {
        display: block;
        position: initial;
        background: rgb(255, 255, 255);
        top: 5.6rem;
        z-index: 2;
        padding-bottom: 1.4rem;
        transition: top 0.5s ease-in-out 0s, z-index 0.5s ease-in-out 0s;
    }
    .xmpBQ {
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        height: 5.6rem;
        box-shadow: rgb(28 28 28 / 6%) 0px 1px 4px;
        padding: 1.1rem 1.4rem 1.1rem 2.5rem;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
    .zm-show-mobile{
        display: block;
    }
    .esnXqG {
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
    }
    .dCgXVP {
        display: flex;
    }
    .iFnyeo {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: inherit;
    }
    .gSIwdJ {
        font-size: 1.4rem;
        letter-spacing: -0.03rem;
        font-weight: 500;
        max-width: 40vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 0.4rem;
    }
    .dDsRpa {
        height: 3.6rem;
        width: 3.6rem;
        border-radius: 50%;
        padding: 0.9rem;
        border: 1px solid rgb(232, 232, 232);
        background-color: rgb(248, 248, 248);
        box-sizing: border-box;
    }
    .iFnyeo {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: inherit;
    }
    .zm-auto-scroll{
        display: flex;
        flex-wrap: nowrap;
    overflow-x: auto;
}
.zm-head {
    color: #1c1c1c;
    font-size: 1.3rem;
}
.zm-slider-hide{
    display: none;
}


}
@media (max-width:575px){
    .zm-headerLogo {
        width: 29vw;
    }
    
    .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
        position: relative;
        display: flex;
        flex: none;
        align-items: center;
        padding-left: 2%;
        align-items: baseline;
    }
    .zm-resp-shadow{
        padding-bottom: 10px;
        box-shadow:  0px 8px 6px -6px rgba(0, 0, 0, 0.09);
    }
    .zm-show-mobile{
        display: block;
    }
    .kSmeAp {
        position: initial;
        background: rgb(255, 255, 255);
        top: 10px;
        z-index: 2;
        transition: top 0.5s ease-in-out 0s, z-index 0.5s ease-in-out 0s;
    }
    .xmpBQ {
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        height: 4rem;
        box-shadow: rgb(28 28 28 / 6%) 0px 1px 4px;
        padding: 0rem 1em 0rem 1rem;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
    }
    .esnXqG {
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
    }
    .dCgXVP {
        display: flex;
    }
    .iFnyeo {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: inherit;
    }
    .gSIwdJ {
        font-size: 14px;
        letter-spacing: -0.03rem;
        font-weight: 500;
        max-width: 40vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 0.4rem;
    }
    .dDsRpa {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        border: 1px solid rgb(232, 232, 232);
        background-color: rgb(248, 248, 248);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .iFnyeo {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: inherit;
    }
    .zm-tab-hide {
        margin-top: 0px !important;
    }
    .ant-card-body {
        padding: 5px !important;
    }
    .zm-auto-scroll{
            display: flex;
        overflow-x: auto;
        width: max-content;
    }
    .zm-auto-scroll:hover{
        background-color: transparent;
    }
    .zm-head {
        color: #1c1c1c;
        font-size: 1.3rem;
    }
    .zm-slider-hide{
        display: none !important;
    }

    .fIuLDK {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .drmgyG {
        padding: 0px 8px 12px 0px;
        max-width: 33.3333%;
        position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    }
    .faURS {
        width: inherit;
    }
    .gAolgC {
        position: relative;
        cursor: pointer;
    }
    .fRgdsH {
        display: block;
        text-decoration: none;
        position: relative;
        max-width: 30vw;
        cursor: pointer;
    }
    .jhbpyJ {
        border-radius: 0.8rem;
        overflow: hidden;
        box-shadow: rgb(0 0 0 / 8%) 0px 3px 12px;
        height: 11.2rem;
        width: inherit;
    }
    .eNGIgi {
        position: relative;
        max-width: 100%;
        width: inherit;
        height: 100%;
        overflow: hidden;
    }
    .cVOEqG {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        opacity: 0;
        transition: opacity 0.25s ease-out 0s;
        will-change: opacity;
        border-radius: inherit;
        animation: 1.5s linear 0s infinite normal forwards running jCOzbu;
    }
    .fyZwWD {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: none;
        opacity: 1;
        will-change: transform, opacity;
        border-radius: inherit;
        filter: unset;
        transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
    }
    .hNtprJ {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: white;
        height: 2rem;
        border: 1px solid rgb(232, 232, 232);
        border-radius: 0px 0px 0.8rem 0.8rem;
        box-sizing: border-box;
        -webkit-box-align: center;
        align-items: center;
        display: inline-block;
        text-align: center;
        font-weight: 300;
        font-size: 0.9rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 2rem;
    }
    .zm-bg-firstorder {
        padding: 1rem 0px;
         background:transparent; 
    }
    .zm-head {
        margin-bottom: 5px;
    }
    .hvbGfC {
        padding: 0px 4px 12px;
        max-width: 33.3333%;
    }
    .csaGEG {
        padding: 0px 0px 12px 8px;
        max-width: 33.3333%;
    }
    .DeliveryCards {
        height: 60vw;
    }
    .XBKPH {
         margin-left:0px  !important;
    }
    .kkLFwM{
        margin-left:0px  !important;
    }
    .zm-backtoTop{
        display :none;
    }
    .zm-ins-show{
        display: block;
    }
    .zm-comapny-img {
        height: 70px;
    }
    .zm-comapany-card {
        border: none;
         margin-right: 0px;     
        }
        .zm-img-hide-lg{
            display: block !important;
            height: 34vw;
        }
    
}
@media (width : 320px){
    .zm-deliver-card {
        max-width: 292px;
    }
}
.zm-img-hide-lg{
    display: none;
}
@media (width:411px){
    .zm-deliver-card {
        max-width: 368px;
    }
}
@media (width:768px){
    .zm-auto-scroll{
        display: flex;
        overflow-x: auto;
    }
}
@media (width:1440px) {
    .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
        
        padding-left: 10%;
    }
    .zm-card-delivery {
        width: 50vw !important;
    }
    .zm-headerLogo {
        width: 10vw;
    }
}
@media (width:1280px) {
    .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
        padding-left: 6%;
    }
    .DeliveryCards {
        border-radius: 20px !important;
        height: 17vw;
        object-fit: cover;
    }
    .zm-deliver-card {
        max-width: 350px;
    }
    .zm-card-delivery {
        width: 55vw !important;
    }
    .zm-headerLogo {
        width: 10vw;
    }
 
}
@media (width:1200px) {
    .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
        
        padding-left: 4%;
    }
    .DeliveryCards {
        height: 18vw;
    }
    .zm-bg-shadow {
        height: 179px;
        width: 254px;
    }
    .zm-card-delivery {
      
        width: 54vw !important;
    }
    .zm-headerLogo {
        width: 10vw;
    }
   
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
font-size: inherit;
color: black;
background-color: white;
}

.ant-carousel .slick-next  {
    right: 6px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(195 192 192);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.ant-carousel .slick-prev  {
     left: -40px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(195 192 192);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.ant-carousel .slick-prev, .ant-carousel .slick-next {
    position: absolute;
    top: 38%;
    width: 30px;
    height: 30px;
    display: flex !important;
    align-content: center;
    justify-content: space-evenly;
}
.ant-tabs-ink-bar {
    height: 5px;
    background: red !important;
  }
  .zm-tab-show{
    display: none;
}
.zm-card-delivery{
    margin-top: 5px;
    padding: 5px;
    box-shadow: 0 3px 10px rgb(195 192 192);
    border-radius: 10px;
    width: 38vw;

}

.eJIdVX{
    position: absolute;
    bottom: 2.2rem;
    max-width: calc(100% - 2.4rem);
}
.XBKPH {
    margin-left: -10px !important;
    margin: 0px 0px 1rem;
    font-size: 0.9rem;
    padding-left: 0.6rem;
    padding-right: 1rem;
    background: rgb(217, 38, 98);
    color: rgb(255, 255, 255);
    font-weight: 400;
    width: max-content;
    border-radius: 0px 0.2rem 0.2rem 0px;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kkLFwM {
    margin-left: -10px !important;
    margin: 0px 0px 1rem;
    font-size: 0.9rem;
    padding: 0px 0.6rem;
    background: rgb(37, 111, 239);
    color: rgb(255, 255, 255);
    font-weight: 400;
    width: max-content;
    border-radius: 0px 0.2rem 0.2rem 0px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kkLFwM:last-child {
    margin-bottom: 0px;
}
.caZqem {
    margin: 0px;
    position: absolute;
    bottom: 2.2rem;
    right: 1.2rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.4rem);
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 0.7rem;
    color: rgb(54, 54, 54);
    width: max-content;
    padding: 0.2rem 0.5rem 0.3rem;
}
.bOuhOw {
    position: absolute;
    top: 1rem;
    left: 1.1rem;
    width: max-content;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.4rem);
    border-radius: 0.2rem;
    padding: 0px 0.5rem;
    z-index: 1;
}
.dZUjKA {
    font-weight: normal;
    font-size: 0.6rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: right;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 100%; 
    line-height: 160px;
    background: transparent;
    overflow: hidden;
}
.fyZwWD {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.gJgFjE {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(38, 126, 62);
    color: rgb(255, 255, 255);
    height: 1.4rem;
    min-width: 2rem;
    padding: 0px 0.4rem;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    border: 1px solid rgb(38, 126, 62);
}
.kHxpSk {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    cursor: unset;
}
.cILgox {
    margin-right: 0.2rem;
    font-weight: 600;
    font-size: inherit;
    padding-bottom: 0.1rem;
}
.iFnyeo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}
.fauQLv {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.zm-inline-line{
    display: flex;
    justify-content: space-between;
}
.ffqcCI {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    max-width: 56%;
    padding: 0px 0px 0.4rem;
}
.crfqyB {
    font-size: inherit;
    line-height: 1.5;
    margin: 0px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    max-width: 30%;
    padding: 0px 0px 0.4rem;
}
.hr-card {
    height: 0.1rem;
    background-color: rgb(232, 232, 232);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.zm-card-bottom {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgb(248, 248, 248);
}


.cRfGoS {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    height: 3rem;
}
.bKrECZ {
    flex-shrink: 0;
    height: 1.8rem;
}
.cVOEqG {
    width: 100%;
    position: absolute;
     top: 0px; 
    left: 0px;
    height: 100%;
    background: linear-gradient(to right, rgb(248, 248, 248) 0%, rgb(255, 255, 255) 10%, rgb(248, 248, 248) 40%, rgb(248, 248, 248) 100%) no-repeat rgb(248, 248, 248);
    opacity: 0;
    transition: opacity 0.25s ease-out 0s;
    will-change: opacity;
    border-radius: inherit;
    animation: 1.5s linear 0s infinite normal forwards running jCOzbu;
}

.ldPQCx {
    position: relative;
    max-width: 100%;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
}
.iZDmqQ {
    margin: 0px 0px 0px 10px;
    text-align: left;
    color: #828282;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.bKrECZ {
    flex-shrink: 0;
    height: 1.5rem;
}
.gzrZiI {
    position: relative;
    max-width: 100%;
    width: 4.8rem;
    height: 1.8rem;
    overflow: hidden;
}
.fyZwWD {
        width: 72%;
        height: 83%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.zm-backtoTop{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(239, 79, 95);
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}